NEXT_PUBLIC_OFFLINE_MODE=development_boolean_value
GOOGLE_SHEETS_ID=your_google_sheet_id
SHEET_NAME=your_sheet_name
GOOGLE_CLIENT_EMAIL=your_google_service_account_email
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n\n-----END PRIVATE KEY-----\n"
EMAIL_ADMIN="admin@example.com"
SENHA_ADMIN="your_admin_password"