NEXT_PUBLIC_OFFLINE_MODE=development_boolean_value
GOOGLE_SHEETS_ID=your_google_sheet_id
SHEET_NAME=your_sheet_name
BACKLOG_SHEET_NAME=BACKLOG
GOOGLE_CLIENT_EMAIL=your_google_service_account_email
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n\n-----END PRIVATE KEY-----\n"

# Credenciais do admin do sistema
EMAIL_ADMIN="admin@example.com"
SENHA_ADMIN="your_admin_password"

# Configurações do servidor SMTP para envio de emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=email.para.enviar.emails@gmail.com
# Gere uma senha de app em: https://myaccount.google.com/apppasswords
SMTP_PASS=sua_senha_de_app_gerada
# URL base para os links nos emails
NEXT_PUBLIC_BASE_URL=http://localhost:3001